*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    background-color: #67999A;
    display: flex;
}
#cabeceraImagenNombre{
    flex: 30%;

}
#cabeceraMenu{
    flex: 70%;

}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    position: relative;
    z-index: 1000;
    margin-bottom: 10px;
    left: 5%;
    background-image: url("../img/Recurso\ 8.png");
    background-size: contain;
}
#nombreRectangulo{
    background-color: #013334;
    width: 300px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 14%
}
#contenidoCuerpo{
    width: 100%;
    height: 500px;
    border: solid black 1px;
    background-color: #D3EE9F;
    display: flex;
}
footer{
    width: 100%;
    height: 200px;
    border: solid black 1px;
}
ul li{
    display: inline;
    padding: 0 10px;
    border-right: solid 2px black;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul li a:hover{
    color: white;
    font-size: 16px;
    text-decoration: underline dashed 2px #ff0033;
    background-color: #d6f;
}
